<style>
  body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
</style>
<div class="container">
  <div class="col">
    <div class="row">
      <h2>Welcome</h2>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="col">
    <div class="row">
      <p>My name is Jordan I am an engineer currently developing at Amazon Web Services in Seattle, WA.</p>
      <br>
      <p>The stack used to power this site is awesome and open-source so you should check out the code on my Github profile (linked above).</p>
      <br>
      <p>Please feel free to reach out to me via the avenues provided on the <a href="contact">Contact</a> page for any matter professional or personal.</p>
      <br>
      <p>Enjoy your stay and don't get lost. . .</p>
    </div>
  </div>
</div>
