<h2>About me</h2>

<p> Hello! My name is Jordan Rushing and I am a developer currently working at Amazon Web Services.</p>

<p>This site utilizes Puma as a web server on Heroku and the requests are routed by Roda on the backend.</p>
