<div class="container">
  <div class="col">
    <div class="row">
      <style>
        body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        }
      </style>
      <h2>Welcome</h2>
      <p>Hello! My name is Jordan Rushing and I am an engineer currently developing at Amazon Web Services in Seattle, WA.</p>
      <p>This site utilizes the Puma web server running on a free-tier Heroku pipeline routing requests with Roda in the backend.</p>
      <p>The source code for this site exists on my Github profile (linked above).</p>
    </div>
  </div>
</div>
