<style>
  body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
</style>
<div class="container">
  <div class="col">
    <div class="row">
      <h2>Welcome</h2>
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="col">
    <div class="row">
      <p>My name is Jordan and I am a Software Developer @ Amazon Web Services in Seattle, WA. I moved here in June of 2017 and it's been an incredible experience. Prior to Seattle I grew up in the DFW Metroplex and still visit monthly to see family, friends, and my wonderful fiancee. When I'm not coding you will find me reading, listening to music, watching films and television shows, or lost in thought.</p>
      <br>
      <p>The stack used to power this site is awesome and open-source so you should check out the code on my Github profile (linked above). My technical background is broad and includes formal computer science coursework, formal mathematics coursework, helpdesk experience, support engineering, systems engineering, and software engineering. I'm currently focused on automating operational processes for cloud computing services through web application development, API engineering, and scripting in Ruby and Python.</p>
      <br>
      <p>Please feel free to reach out to me via the avenues provided on the <a href="contact">Contact</a> page for any matter professional or personal. My resume is available upon request.</p>
      <br>
    </div>
  </div>
</div>
