<style>
  body {
    font-family: 'Merriweather', sans-serif;
    font-size: 16px;
  }
</style>
<div class="container">
  <div class="col">
    <div class="row">
      <h1>Jordan Rushing</h1>
      <br>
      <p>Software Engineer. Formerly @ Subspace, AWS. Located in ☀️  Los Angeles, CA.</p>
      <br>
      <p>
        <a href="https://www.linkedin.com/in/jordan-rushing-60944341"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"></a>
        <a href="https://github.com/JordanRushing"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white."></a>
        <a href="https://www.twitch.tv/saidice"><img src="https://img.shields.io/badge/Twitch-9146FF?style=for-the-badge&logo=twitch&logoColor=white"></a>
      </p> 
      <br>
      <br>
    </div>
  </div>
</div>
