<style>
  body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
</style>
<div class="container">
  <div class="col">
    <div class="row">
      <h2>Contact Information</h2>
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="col">
    <div class="row">
      <p><strong>Email</strong>: <a href="mailto:rushing.jordan@gmail.com">rushing.jordan AT gmail DOT com</a></p>
      <p><strong>Linkedin</strong>: <a href="https://www.linkedin.com/in/jordan-rushing-60944341">https://www.linkedin.com/in/jordan-rushing-60944341</a></p>
      <p><strong>Stack Overflow</strong>: <a href="https://stackoverflow.com/users/story/5438473">https://stackoverflow.com/users/story/5438473</a></p>
      <p><strong>Discord</strong>: Jordan#3980</p>
    </div>
  </div>
</div>
