<div class="container">
  <div class="col">
    <div class="row">
      <style>
        body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        }
      </style>
      <h2>Contact Information</h2>
      <ul><li>rushing.jordan AT gmail DOT com</li>
        <li>https://github.com/jordanrushing</li></ul>
    </div>
  </div>
</div>
