<div class="container">
  <div class="col">
    <div class="row">
      <style>
        body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        }
      </style>
      <h2>Contact Information</h2>
      <ul><li>Email: <a href="mailto:rushing.jordan@gmail.com">rushing.jordan AT gmail DOT com</a></li>
        <li>Github: <a href="https://github.com/jordanrushing">https://github.com/jordanrushing</a></li></ul>
    </div>
  </div>
</div>
