<style>
  body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
</style>
<div class="container">
  <div class="col">
    <div class="row">
      <h2>Contact Information</h2>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="col">
    <div class="row">
        <p>Email: <a href="mailto:rushing.jordan@gmail.com">rushing.jordan AT gmail DOT com</a></p>
        <p>Discord: Jordan#3980</p>
    </div>
  </div>
</div>
