<div class="container">
  <div class="col">
    <div class="row">
      <style>
        body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        }
      </style>
      <h2>Posts coming soon. . .</h2>
    </div>
  </div>
</div>
