<style>
  body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
</style>
<div class="container">
  <div class="col">
    <div class="row">
      <h2>Posts</h2>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="col">
    <div class="row">
      <article>
        <header>
          <h3>Getting the site up and running</h3>
        </header>
        <p>Using continuous integration and deployment via Travis-CI and Heroku has made the development life-cycle of this static site a breeze.
          Ideally I would like to get into the habit of posting nicely-formatted ramblings from Org mode and other semi-interesting information
          on a regular basis. As a parting thought, here is a lovely picture that I recently took of Seattle:</p>
        <br>
        <figure>
          <img src="https://i.imgur.com/EFaNYP1.jpg">
        </figure>
      </article>
    </div>
  </div>
</div>
