<style>
 body {
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
 }
</style>
<div class="container">
    <div class="col">
        <div class="row">
            <article>
                <header>
                    <h3>Example Post for Aimee and Nico</h3>
                    <p><strong>12.01.2017 | 19:47 PDT</strong></p>
                </header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <br>
                <br>
                <header>
                    <h3>Getting the site up and running. . .</h3>
                    <p><strong>11.08.2017 | 23:29 PDT</strong></p>
                </header>
                <p>Ideally I would like to get into the habit of posting ramblings and interesting content that I come across
                    on a semi-regular basis. I like the idea of keeping an index of the things that resonate with my thoughts and feelings through time.
                    Consistency is key in these endeavors so we'll see how I do.</p>
                <br>
                <p>As a parting thought from this introductory post, here is a lovely picture that I recently took of Seattle:</p>
                <br>
                <figure>
                    <img src="https://i.imgur.com/EFaNYP1.jpg" style="width:1023px;height:362px;">
                </figure>
            </article>
        </div>
    </div>
</div>
