<html lang="en">
  <head>
    <title>Jordan Rushing's Personal Web Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Roboto|Bungee+Shade">
    <style>
      body {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navigation-clean">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="home" style="font-family: 'Bungee Shade', sans-serif; font-size: 30px;">Jordan Rushing</a>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation"><a href="posts">Posts</a></li>
            <li role="presentation"><a href="contact">Contact</a></li>
            <li role="presentation"><a href="https://github.com/jordanrushing">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
    <br>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <center>© Jordan Rushing</center>
    </nav>
  </body>
</html>
