<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jordan Rushing's Personal Web Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Fira+Sans">
    <style>
      body {
      font-family: 'Fira Sans', sans-serif;
      font-size: 48px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navigation-clean">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-link" href="home">
            <Jordan Rushing</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation"><a href="about">About</a></li>
            <li role="presentation"><a href="contact">Contact</a></li>
            <li role="presentation"><a href="https://github.com/jordanrushing">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-sm-3 sidenav">
      <h4>Jordan Rushing</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="home">Home</a></li>
        <li><a href="about">About Me</a></li>
        <li><a href="contact">Contact</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
